!template/pom.xml
**.shadow-cljs
*.class
*.jar
.clj-kondo/.cache
.clj-kondo/.lock
.clj-kondo/inline-configs
.cpcache
.hg/
.hgignore
.lsp/
/.lein-*
/.nrepl-port
/checkouts
/classes
/out
/target
node_modules
pom.xml
pom.xml.asc
public/
