/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/out
.clj-kondo/.lock
.clj-kondo/inline-configs
.clj-kondo/.cache
.lsp/
!template/pom.xml
public/
node_modules
**.shadow-cljs