{:paths ["src"]

 :deps
 {com.tdunning/t-digest {:mvn/version"3.2"}
  redux/redux {:mvn/version "0.1.4"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/test.check {:mvn/version "1.1.1"}
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}}

 :aliases
 {:dev {:extra-paths ["dev"]}

  :cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.25.2"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}}}

  :test
  {:extra-paths ["test"]}

  ;; See https://github.com/cognitect-labs/test-runner for invocation
  ;; instructions, or call `clojure -X:test:runner`.
  :runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test
   :exec-args ["test"]}

  :build
  {:deps
   {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
    slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
